<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>

  <body>
    {% include nav.html %}

    <div class="cube-layer"></div>

    <div class="wrapper">
      <div class="page-panel page-panel--split">
        <header class="site-header">
          <!-- Custom Title -->
          <h1><a href="{{ '/' | absolute_url }}">Riley Francis</a></h1>

          <!-- Custom Profile Image -->
          <img class="profile-photo" src="{{ '/assets/img/cropped_circle_image.png' | relative_url }}" alt="Riley Francis portrait"/>


          <!-- Description text (optional: pulled from _config.yml or set manually) -->
          <p>{{ site.description | default: "Mathematics & Computer Science Student @ UConn" }}</p>
          <p>Computer Science & Mathematics @ University of Connecticut</p>
        </header>

        <section>
          {{ content }}
        </section>
      </div>
    </div>

    {% include footer.html %}

    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>

    <script src="{{ '/assets/js/smooth_scroll.js' | relative_url }}"></script>

    <script src="{{ '/assets/js/cubes.js' | relative_url }}" defer></script>

  </body>

</html>


